
#blueback{
    background-color: blue;
  }

  #turnred{
    color: red;
  }

a:link {
  color: red;
}

a:hover {
  color: yellow;
}

a:visited {
  color: blue;
}

a:active {
  color: #00ffff;
}

.turnred {
  color: red;
}

h2 {
  color: yellow;
  background-color: #yellow;
}

 i {
  color: blue;
  background-color: #blue;
}
