body {
  background-color: lightblue;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  height: 2160px;
  padding: 24px;
  background-color: #ffffff;
}

h1{
  border-bottom: 5px solid #D16587;
  color: #D16587
  display: block;
  grid-column: span 6;
}

h1 a{
  color: #D16587;
  text-decoration: none;
}

h1 a:hover{
  color: purple;
}

.dropshadowbox{
    box-shadow: 0px 10px 10px #666;
}

h2{
  color: #D16587;
  border-bottom: solid #D16587 5px;
  display: block;
  grid-column: span 6;
}

#bb ul {
  list-style-type: none;  /* none, disc, circle, square */
  margin-top: 0px;
  padding: 0px;
}

#bb li {
  border: 0px solid black;
  Background-Color: #D16587;
  width: 196px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  margin-top: 30px;
  display: inline-block;
  }

#bb ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}

#bb li a:hover {
  background-color: purple;
  border-radius: 50px
}

#bb li a:hover {
  background-color: purple;
  border-radius: 50px;
  box-shadow: 0px 10px 10px #666;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
  display: block;
}

#jojo{
  background-color: #D16587;
  text-align: justify;
  color: white;
  padding: 10px;
    font-family: 'Xanh Mono', monospace;
    margin-bottom: 20px;
    display: block;
    grid-column: span 6;
}

#A1{
  border: solid 5px #D16587;
  color: #D16587;
  font-family: 'Xanh Mono', monospace;
  font-size: 20px;
  display: block;
  grid-column: span 6;
  margin-bottom: 30px;
}

#pp ul {
  list-style-type: none;  /* none, disc, circle, square */
  margin-top: 0px;
  padding: 0px;
}

#pp li {
  border: 0px solid black;
  Background-Color: #D16587;
  width: 196px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  margin-bottom: 30px;
  display: block;
  grid-column: span, 6;
  }

#pp ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 25px;
}

#pp li a:hover {
  background-color: purple;
  border-radius: 50px
}

#pp li a:hover {
  background-color: purple;
  border-radius: 50px;
  box-shadow: 0px 10px 10px #666;
  transition: background-color 1.0s, width 2.0s, color 2.0s;
  display: block;
}

#kirb ul {
  list-style-type: none;  /* none, disc, circle, square */
  margin-top: 0px;
  padding: 0px;
}

#kirb li {
  border: 5px solid #D16587;
  width: 935px;
  color: #D16587;
  display: inline-block;
  margin-bottom: 20px;
  grid-column: span, 6;
  margin-left: 10px;
  }

#kirb ul li {
  color: #D16587;
  text-decoration: none;
  display: block;
  padding: 25px;
}

#test{
display: grid;
grid-template-columns: repeat(6, 1fr);
}

footer{
  background-color: #D16587;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: Helvetica;
  margin-top: 30px;
  display: block;
  grid-column: span 6;
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 450px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}

#top{
  margin-top: 5px;
}
