
body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
}

h1{
  border-bottom: 5px solid black;
}

#photo{
  background: #D16587;
  margin-right: 0px;
  color: White;
  font-family: Helvetica;
  padding-top: 15px;
  padding-right: 15px;
  float: left;
}

#intro{
  margin-left: 3px;
}

.floatimage {
  width: 450px;
  margin-left: 15px;
}

nav ul {
  list-style-type: none;  /* none, disc, circle, square */
  margin-top: 0px;
  padding: 0px;
}

nav li {
  border: 0px solid black;
  margin: 20px 20px 20px 20px;
  margin-left: 500px;
  padding-right: 450px;
  Background-Color: #D16587;
  width: 250px;
  color: white;
  display: block;
  grid-column: span 6;
  }

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

#jojo{
  background-color: #D16587;
  text-align: justify;
  color: white;
  padding: 10px;
  font-family: Helvetica;
}

footer{
  background-color: #D16587;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: Helvetica;
  margin-top: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 675px;
  padding-left: 40px;
  display: block;
}

nav li a:hover {
  background-color: purple;
}
